.container {
  width: 570px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 110px);
  grid-template-rows: repeat(5, 110px);
  background-color: #2196f3;
  padding: 10px;
}
.cardLocation {
  margin: 0 auto;
}
.cards {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 1px;
  width: 100px;
  height: 100px;
  font-size: 30px;
  text-align: center;
  margin: 10px;
  border-radius: 15px;
  background-image: none !important;
  animation: alternate-reverse;
}

.cards:hover {
  cursor: pointer;
  background-color: #ffffff;
}
.cardsTouched {
  border: 1px solid rgba(0, 0, 0, 0.8);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1px;
  width: 100px;
  height: 100px;
  font-size: 30px;
  text-align: center;
  margin: 10px;
  border-radius: 15px;
  pointer-events: none;
  animation: alternate-reverse;
}
